.nav-bg{
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow:0 3px 10px -6px #222;
}
.menu{
    margin-top: 10px;
}
.menu-item{
    margin-left: 200px;
}
.login-btn{
    width: 109px;
    height: 32px;
    background: #2CAEE2 ;
    border-radius: 39px ;
    border: none ;
    margin: 0 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

}